/* 1. exercice-flex */
.exercice-flex .container {
  display: flex;
}

.exercice-justify-1 .container {
  display: flex;
  justify-content: end;
  flex-direction: row;
}


.exercice-justify-2 .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.exercice-justify-3 .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  
}


.exercice-align-1 .container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


.exercice-align-2 .container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
}


.exercice-align-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.exercice-all-1 .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


/* 9. exercice-all-2 */

